{
    "trailingComma": "all",
    "singleQuote": false,
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@ianvs/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "// --- 1. VALUE IMPORTS (KODE LOGIKA) ---",
        "<BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "// Alias Local Modules",
        "^(@|src)/(.*)constant",
        "^(@|src)/(.*)enum",
        "^(@|src)/(.*)hook",
        "^(@|src)/(.*)util",
        "^(@|src)/(.*)function",
        "^(@|src)/(.*)helper",
        "^(@|src)/(.*)context",
        "^(@|src)/(.*)store",
        "^(@|src)/(.*)action",
        "^(@|src)/(.*)reducer",
        "^(@|src)/(.*)service",
        "^(@|src)/(.*)lib",
        "^(@|src)/(.*)api",
        "^(@|src)/(.*)component",
        "^(@|src)/(.*)layout",
        "^(@|src)/(.*)page",
        "^(@|src)/(.*)jsx",
        "^(@|src)/",
        "",
        "// Relative Local Modules",
        "^[./](.*)constant",
        "^[./](.*)enum",
        "^[./](.*)hook",
        "^[./](.*)util",
        "^[./](.*)function",
        "^[./](.*)helper",
        "^[./](.*)context",
        "^[./](.*)store",
        "^[./](.*)action",
        "^[./](.*)reducer",
        "^[./](.*)service",
        "^[./](.*)lib",
        "^[./](.*)api",
        "^[./](.*)component",
        "^[./](.*)layout",
        "^[./](.*)page",
        "^[./](.*)jsx",
        "^[./]",
        "",
        "// --- 2. TYPE IMPORTS (INTERFACE / TYPES) ---",
        "<TYPES><BUILTIN_MODULES>",
        "",
        "<TYPES>",
        "",
        "// Alias Type Modules",
        "<TYPES>^(@|src)/(.*)constant",
        "<TYPES>^(@|src)/(.*)enum",
        "<TYPES>^(@|src)/(.*)hook",
        "<TYPES>^(@|src)/(.*)util",
        "<TYPES>^(@|src)/(.*)function",
        "<TYPES>^(@|src)/(.*)helper",
        "<TYPES>^(@|src)/(.*)context",
        "<TYPES>^(@|src)/(.*)store",
        "<TYPES>^(@|src)/(.*)action",
        "<TYPES>^(@|src)/(.*)reducer",
        "<TYPES>^(@|src)/(.*)service",
        "<TYPES>^(@|src)/(.*)lib",
        "<TYPES>^(@|src)/(.*)api",
        "<TYPES>^(@|src)/(.*)component",
        "<TYPES>^(@|src)/(.*)layout",
        "<TYPES>^(@|src)/(.*)page",
        "<TYPES>^(@|src)/(.*)jsx",
        "<TYPES>^(@|src)/",
        "",
        "// Relative Type Modules",
        "<TYPES>^[./](.*)constant",
        "<TYPES>^[./](.*)enum",
        "<TYPES>^[./](.*)hook",
        "<TYPES>^[./](.*)util",
        "<TYPES>^[./](.*)function",
        "<TYPES>^[./](.*)helper",
        "<TYPES>^[./](.*)context",
        "<TYPES>^[./](.*)store",
        "<TYPES>^[./](.*)action",
        "<TYPES>^[./](.*)reducer",
        "<TYPES>^[./](.*)service",
        "<TYPES>^[./](.*)lib",
        "<TYPES>^[./](.*)api",
        "<TYPES>^[./](.*)component",
        "<TYPES>^[./](.*)layout",
        "<TYPES>^[./](.*)page",
        "<TYPES>^[./](.*)jsx",
        "<TYPES>^[./]"
    ],
    "importOrderParserPlugins": [
        "typescript",
        "jsx",
        "decorators-legacy",
        "classProperties"
    ]
}
